html {
  box-sizing: border-box
}
*::after { 
  box-sizing: inherit;
}
:root {
  font-size: 62.5%
}

body {
  background-color: rgb(39, 78, 75);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI"
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI" Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
main {
  width: 350px;
  background-color:  rgb(91, 235, 223);
  font-size: 2rem;
  text-align: center;
}
#status {
  text-align: right;
  font-size: 1.2rem;
  color: rgb(175, 175, 175);
  padding: 10px 10px 0 0;
}
img {
  border-radius: 50%;
  border: rgb(16, 195, 106) 5px solid;
}
h1, p {
  margin: 0 auto;
}
h1 {
  font-size: 3rem;
  padding: 12px 0;
}

#occupation {
  background-color: rgb(97, 96, 96);
  padding: 20px 0;
  padding: 10px 0;
}

#brand {
  display: none;
}
#offer {
  padding: 20px 0;
}
#contact {
  display: flex;
}
#contact > p {
  height: 65px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*phone*/
#contact > p:first-child {
  background-color: rgb(201, 219, 212);
}
/*message*/
#contact > p:last-child {
  background-color: rgb(59, 155, 99);
}
@media only screen and (min-width: 500px) {
  main {
    display: grid;
    text-align: left;
    width: 500px;
    grid-template-columns: 40% 60%;
    grid-template-areas: 
      "status name"
      "img occupation"
      "img brand" 
      "contact offer";
  }
  #name, #occupation, #brand, #offer {
    padding-left: 10px;
    background-color: rgb(5, 146, 80);
  }
  #status {
    grid-area: status;
    text-align: left;
    padding: 10px 0 0 10px;
  }

  img {
    grid-area: img;
    margin: 0 auto;
  }
  #name {
    grid-area: name;
    margin: 0
  }

  #contact {
    grid-area: contact;
  } 
  img {
    grid-area: img;
    margin: 0 auto;
  }
  #occupation {
    grid-area: occupation;
  }

  #brand {
    grid-area: brand;
    display: inline;
  }

  
  #brand > p {
    border-left: rgb(131, 197, 160) 5px solid;
    color: rgb(235, 250, 32);
    padding: 0 20px 0 10px;
    font-size: 1.5rem;
  }

  #contact {
    grid-area: contact;
  } 

  #offer {
    grid-area: offer;
    font-size: 1.5rem;
    padding: 10px;
  } 
}